@using MvcAppication.Models
@model CustomerModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <div>
        <ul>
            <li>
                @Html.DisplayNameFor(x => x.Id)
            </li>
            @Html.LabelFor(x => x.Id)
            <li></li>
        </ul>
        <ul>
            <li>
                @Html.DisplayNameFor(x => x.EmailId)

            </li>
            <li>
                @Html.EditorFor(x => x.EmailId)

            </li>
        </ul>
        <ul>
            <li>
                @Html.DisplayNameFor(x => x.Name)
            </li>
            <li>
                @Html.EditorFor(x => x.Name)

            </li>
        </ul>
                
        <input type="submit" value="submit" />
    </div>
}
